body{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.compo3frameall{
  display: flex;

  width: 100%;
  height: 90vh;
}
.compo3frameleft{
  width:30%;
  text-align: center;
  border: 1px solid rgb(233, 228, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listgroup{
  width: 70%;
  margin-top: 30px;
  
}
.compo3frameright{
  width: 70%;
  text-align: center;
  border: 1px solid rgb(233, 228, 228);
}
.mainletter{
  position: absolute;
  left: 40%;
  top:20%;
  color: red;
}
.mainletter p{
  color: black;
}

.background {

  width: 100%;
  height: 40vh;
  opacity: .2;
  background-image: url("../public/img/201.jpg");
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;

}




.menu1all{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
  text-align: center;
}
.menu1all .menu1-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width:33.3%;
  height:30vh;
  background-color: aqua;
  border-radius: 50px;
}

.menu1all .menu1-2{
  flex-grow: 1;
  width: 33.3%;
  height: 30vh;
}
.menu1all .menu1-3{
  width: 33.3%;
  height: 30vh;
  background-color: yellow;
  border-radius: 50px;
}
.vl{
  border-left: 2px solid green;
  position: absolute;
  left: 50%;
  opacity: .1;
  margin-left: -2px;
}