.menu1all{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
  text-align: center;
}
.menu1all .menu1-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width:33.3%;
  height:30vh;
  background-color: aqua;
  border-radius: 50px;
}

.menu1all .menu1-2{
  flex-grow: 1;
  width: 33.3%;
  height: 30vh;
}
.menu1all .menu1-3{
  width: 33.3%;
  height: 30vh;
  background-color: yellow;
  border-radius: 50px;
}
.vl{
  border-left: 2px solid green;
  position: absolute;
  left: 50%;
  opacity: .1;
  margin-left: -2px;
}